.productList {
    background: #fff;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, 260px);
    justify-content: center;
}

.productTable {
    grid-template-columns: 1fr;
}